h4 {
  font-size: 15px;
  font-weight: normal;
}
input {
  outline: none;
}
button {
  display: block;
  color: aqua;
  background: transparent;
  border: 1px solid rgb(148, 146, 146);
  font-size: 16px;
}

.container {
  margin: 30px auto;
  border-radius: 20px;
  background: #385170;
  color: white;
  padding: 5px;
}
#city-search {
  border-radius: 25px;
  padding: 10px;
  border: 1px solid rgb(131, 128, 128);
  margin: 10px auto;
  font-size: 16px;
}
#text-search {
  font-size: 16px;
  border: none;
  background-color: transparent;
  width: 90%;
  color: white;
}
.today {
  font-size: 80px;
  font-weight: bolder;
  padding-left: 20px;
}
.today-more {
  font-size: 16px;
  color: beige;
}
.cover {
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 0 50px;
  font-size: 16px;
  color: black;
}
p {
  color: aqua;
  font-size: 25px;
  font-style: italic;
  font-family: "Special Elite", cursive;
}
.tempUnit {
  display: inline-block;
  font-size: 20px;
  vertical-align: 50px;
}
