input {
  outline: none;
}
p {
  font-size: 20px;
  font-style: italic;
  font-family: "Special Elite", cursive;
}
body {
  background-image: url("hanoi2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: rgb(7, 7, 129);
}
#city-search {
  border-radius: 25px;
  padding: 10px;
  border: 1px solid rgb(179, 179, 245);
  margin: 10px auto;
  font-size: 16px;
}
#text-search {
  font-size: 16px;
  color: white;
  border: none;
  background-color: transparent;
  width: 90%;
}
#today-temp {
  font-size: 60px;
  font-weight: bolder;
  padding-left: 20px;
}
#today-description {
  font-size: 20px;
  font-weight: bolder;
}
#cover {
  color: white;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-image: url("day-cover.jpg");
  margin-top: 30px;
  padding: 5px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.tempUnit {
  vertical-align: 30px;
  font-size: 16px;
}
.github-link {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.active {
  color: white;
  font-weight: bold;
}
#forecast.forecast-temp-max {
  font-weight: bold;
}
.forecast-temp-max {
  font-weight: bold;
}
